* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Semibold.woff2") format("woff2"), url("../fonts/Lato-Semibold.woff") format("woff"), url("../fonts/Lato-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.header {
  background: #262D33;
  position: relative;
}

.header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 0;
}

.header__nav-link {
  margin-right: 30px;
  text-decoration: none;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.header__nav-link:last-child {
  margin-right: 0;
}

.header__form {
  width: 263px;
  height: 39px;
  position: relative;
}

.header__form-btn {
  width: 18px;
  height: 18px;
  position: absolute;
  background-color: transparent;
  background: url(../../img/header/Search.svg);
  right: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  outline: none;
  cursor: pointer;
}

.header__search {
  width: 100%;
  height: 100%;
  background: #656B70;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #939699;
  border: none;
  outline: none;
  padding-left: 25px;
  padding-right: 55px;
}

.header__search::-webkit-input-placeholder {
  color: #939699;
}

.header__search::-moz-placeholder {
  color: #939699;
}

.header__search:-ms-input-placeholder {
  color: #939699;
}

.header__search::-ms-input-placeholder {
  color: #939699;
}

.header__search::placeholder {
  color: #939699;
}

.burger-button {
  display: none;
  padding: 15px 0;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  height: 29px;
}

.burger-button__item {
  position: relative;
  display: block;
  width: 20px;
  height: 2px;
  background: #FFFFFF;
  font-size: 0;
}

.burger-button__item:before {
  content: '';
  width: 20px;
  height: 2px;
  background: #FFFFFF;
  position: absolute;
  top: -7px;
  left: 0;
  text-replace: .2s;
}

.burger-button__item:after {
  content: '';
  width: 20px;
  height: 2px;
  background: #FFFFFF;
  position: absolute;
  bottom: -7px;
  left: 0;
  text-replace: .2s;
}

.main {
  background: #262D33;
  height: 470px;
  position: relative;
}

.main__wrapper {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  background: #FFFFFF;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 570px;
  overflow: hidden;
}

.topic-article {
  display: none;
  width: 100%;
  position: relative;
  padding: 55px 0 0 55px;
}

.topic-article__bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.topic-article__bg:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(64, 48, 61, 0.35)), to(rgba(64, 48, 61, 0.35)));
  background: -webkit-linear-gradient(bottom, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35));
  background: -o-linear-gradient(bottom, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35));
  background: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35));
}

.topic-article__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.topic-article__autor {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.topic-article__avatar {
  width: 45px;
  height: 45px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: 10px;
}

.topic-article__autor-name {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.85;
}

.topic-article__autor-profession {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  opacity: 0.4;
  margin-top: 2px;
}

.topic-article__info {
  position: relative;
  z-index: 10;
  margin-top: 145px;
}

.topic-article__rubric {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #4592FF;
}

.topic-article__title {
  margin-top: 20px;
  margin-bottom: 50px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  max-width: 598px;
}

.topic-article__link {
  background: #4592FF;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  min-width: 154px;
  padding: 10px 20px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.topic-article__link:after {
  content: '';
  width: 15px;
  height: 7px;
  background: url(../img/main/Arrow.svg) no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
  display: inline-block;
  margin-left: 8px;
}

.recommendation {
  -webkit-flex-basis: 263px;
      -ms-flex-preferred-size: 263px;
          flex-basis: 263px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.recommendation__title {
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 19px;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.recommendation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.recommendation__item {
  padding: 18px 25px 19px;
  border-top: 1px solid #D9DADB;
  min-height: 99px;
  cursor: pointer;
  background: #ffffff;
}

.recommendation__item:hover {
  background: #f5f5f5;
}

.recommendation__item:last-child {
  padding-bottom: 28px;
}

.recommendation__subtitle {
  margin: 0 0 9px 0;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.recommendation__subtitle--turquoise {
  color: #3BBDC4;
}

.recommendation__subtitle--blue {
  color: #6E99AE;
}

.recommendation__subtitle--fiolet {
  color: #AC8EE3;
}

.recommendation__subtitle--orange {
  color: #FFA34D;
}

.recommendation__subtitle--green {
  color: #3DC47E;
  margin-top: 3px;
}

.recommendation__description {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #4B5157;
  margin: 0;
}

.active-tab {
  display: block;
}

.active-item {
  background: #f5f5f5;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1000px;
    padding: 0 20px;
  }
  .header__nav-link {
    margin-right: 15px;
  }
  .header__nav-link:last-child {
    margin-right: 0;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 940px;
  }
  .header__nav-links {
    display: none;
  }
  .header__form {
    margin-bottom: 20px;
  }
  .burger-button {
    display: block;
  }
  .menu-open {
    padding-top: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    top: 73px;
    background: #262D33;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .header__nav-link {
    margin-right: 0;
    margin-bottom: 17px;
  }
}
/*# sourceMappingURL=style.css.map */