@media (max-width: 1200px){
    .container{
        max-width: 1000px;
        position: relative;

    }
    .header{
        &__nav-link{
            margin-right: 15px;
            &:last-child{
                margin-right: 0;
            }
        }
    }

    .articles{

        &__wrapper{
            grid-template: repeat(5, 170px)/repeat(3, 1fr);
        }
    }
    .check-list{
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 1;
    }
    .second-article{
        grid-row-start: 5;
        grid-row-end: 6;
        &__img{
            height: 50%;
        }
    }
    .tags{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 5;
    }

    .news{
        &__img{
            width: 260px;
        }
    }
    .fresh-news{
        &__caption{
            line-height: 16px;
            font-size: 12px;
        }
    }

    .hot-slider{
        height: 590px;
    }

    .article{
        &__card{
            right: 0;
        }
    }

    .any-articles__item{
        flex-basis: 220px;
    }
}

@media (max-width: 1050px){
    .container{
        max-width: 940px;
    }

    .little-news{
        &__wrapper{
            flex-wrap: wrap;
            justify-content: center;
            padding: 33px 30px;
        }

        &__item{
            flex-basis: 45%;
            max-width: 45%;
            margin-bottom: 25px;
            

            &:nth-child(1){
                position: relative;
                padding-right: 0;
                padding-left: 0;
                margin-right: 40px;
                border-right: none;
                &:before{
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 1px;
                    top: 0;
                    right: -20px;
                    background: #4B5157;

                }
            }
            &:nth-child(2){
                padding: 0;
                border-right: none;
            }
            &:nth-child(3){
                padding-right: 0;
                padding-left: 0;
                margin-right: 40px;
                border-right: none;
                &:before{
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 1px;
                    top: 0;
                    right: -20px;
                    background: #4B5157;

                }

                &::after{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background: #4B5157;
                    top: -12px;
                    left: 0;

                }
            }
            &:nth-child(4){
                padding: 0;
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background: #4B5157;
                    top: -12px;
                    right: 0;

                }

           

            }
            &:nth-child(n+3){
                margin-bottom: 0;
                position: relative;
                
            }
        }
    }
    .articles{

        &__wrapper{
            gap: 20px;
        }
    }

    .news{
        &__img{
            width: 210px;
        }
    }

    .hot-slider{
        height: 614px;

        &__title{
            font-size: 30px;
            line-height: 43px;
            margin-bottom: 84px;
        }
    }

    .categories{
        flex-wrap: wrap;
        &__item {
            flex-basis: 33.333%;
            margin-bottom: 30px;
        }
    }

    .article{

        &__wrapper{
            flex-wrap: wrap;
        }
        &__card{
            position: static;
            margin-bottom: 30px;
        }

        &__content{
            flex-basis: 100%;
        }

        &__aside {
            flex-basis: 100%;

        }
    }

    .aside-article{
        padding-left: 97px;
        margin-left: 0;
        margin-top: 75px;
        margin-bottom: 40px;
    }

    .support{
        margin-bottom: 0;
    }

}

@media (max-width: 992px){
    .container{
        max-width: 85%;
    }
    .header{
        &__nav-links{
            display: none;
        }

        &__form{
            margin-bottom: 20px;


        }
    }

    .burger-button{
        display: block;
    }


    .menu-open{
        padding-top: 20px;
        display: flex;
        position: fixed;
        flex-direction: column;
        align-items: center;
        background: #262D33;
        top: 70px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        overflow: auto;
    }

    .header__nav-link{
        margin-right: 0;
        margin-bottom: 17px;
    }

    .topic-article{
        padding: 38px 20px 0px 36px;

        &__title{
            font-size: 30px;
            line-height: 40px;
            max-width: 400px;
        }
        &__info {
            margin-top: 90px;
        }
    }

    .main-article{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__image{
            position: absolute;
            top: 5px;
            right: 0;
            opacity: .3;
        }

        &__top{
            padding-right: 35px;
            height: 100%;
           
        }
        &__bottom{
            padding-right: 35px;
            z-index: 10;
        }

        &__title{
            position: relative;
            z-index: 10;
        }

        &__description{
            position: relative;
            z-index: 10;
        }

        &__autor-text{
            display: none;
        }
    }

    .article-weeks{
        &__title{
            font-size: 30px;
            line-height: 40px;
        }
    }

    .news{

        &__wrapper{
            flex-wrap: wrap;
        }

        &__content{
            flex-basis: 100%;
        }
        &__img{
            width: 260px;
        }

        &__aside{
            flex-basis: 100%;
            margin-top: 25px;
        }
        &__footer{
            bottom: 18px;
        }
    }

    .fresh-news__caption {
        line-height: 20px;
        font-size: 14px;
    }
    .hot{
        &__wrapper{
            flex-wrap: wrap;
        }

        &__articles{
            flex-basis: 100%;

        }
    }
    .hot-slider{
        flex-basis: 100%;
        margin-right: 0;
        overflow: hidden;
        margin-bottom: 30px;
        height: 570px;

        &__title{
            max-width: 60%;
        }

    }

    .article-slider{
        &__img{
            height: 500px;
        }
        &__author{
            flex-shrink: 0;
        }
    }

    .any-articles{
        &__item{
            flex-basis: 180px;
        }
        &__img{
            height: 140px;
        }
    }

    .think-about__textarea{
        width: 100%;
    }
}
@media (max-width: 975px){

    .articles{

        &__wrapper{
            grid-template: repeat(7, 170px)/repeat(2, 1fr);
        }
    }

    .main-article{
        grid-column-start: span 1;
        grid-row-start: span 2;
    }

    .tags{
        grid-row-start: 3;
        grid-row-end: 5;

    }
    .check-list{
        grid-row-start: 7;
        grid-row-end: 8;
    }
    .second-article{
        grid-row-start: 3;
        grid-row-end: 5;
        grid-column-start: 2;

        &__img{
            height: 275px;
        }

    }

    .news{
        &__title{
            font-size: 18px;
            line-height: 20px;
        }

        &__description{
            font-size: 12px;
            line-height: 16px;
        }
    }

    .footer{
        &__nav{
            flex-wrap: wrap;
        }

        &__social{
            position: relative;
            width: 100%;
            margin-top: 33px;
        }

        &__rights{
            flex-wrap: wrap;
        }

        &__label{
            margin-top: 20px;
        }
    }

    .hero{
        &__title{
            font-size: 40px;
            line-height: 55px;
        }
    }

}

@media (max-width: 895px){
    .topic-article__info {
        margin-top: 171px;
    }

    .any-articles{
        &__wrapper{
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        &__item{
            flex-basis: 270px;
            margin-bottom: 30px;
        }
    }

    .comments__header{
        flex-wrap: wrap;
    }

    .comments__title{
        width: 100%;
        margin-bottom: 30px;
    }

    .comments__link{
        margin: 0 0 20px;
    }
}


@media (max-width: 820px){
    .little-news{
        &__wrapper{
            padding: 0 30px;
        }

        &__item{
            flex-basis: 100%;
            max-width: 100%;
            border-bottom: 1px solid #4B5157;
            padding: 20px 0px;
            border-right: none;

            &:nth-child(1){
                margin-right: 0;
                margin-bottom: 0;

                &:before{
                    display: none;
                }
                &:after{
                    display: none;
                }
            }
            &:nth-child(2){
                padding: 20px 0px;
                margin-bottom: 0;
                &:before{
                    display: none;
                }
                &:after{
                    display: none;
                }
            }
            &:nth-child(3){
                margin-right: 0;
                margin-bottom: 0;
                &:before{
                    display: none;
                }
                &:after{
                    display: none;
                }
            }

            &:nth-child(4){
                padding: 20px 0px;

                &:before{
                    display: none;
                }
                &:after{
                    display: none;
                }
            }
            
           
        }
    }
    .article-weeks{
        &__bg{
            height: 500%;
        }
     
    } 

}


@media (max-width: 775px){
    .topic-article{
        

        &__title {
        font-size: 24px;
        line-height: 35px;
        max-width: 300px;
        margin-bottom: 30px;
        }
    }
    .recommendation{
        flex-basis: 240px;

        &__description{
            font-size: 12px;
        }

        &__item{
            padding: 20px 15px 11px;
            min-height: auto;
        }
    }

    .little-news {
        margin-top: 110px;
    }

    .article-weeks{
        &__title{
            font-size: 25px;
            line-height: 35px;
        }
    }

    .news{
        &__img{
            width: 180px;
            height: 165px;
            margin-right: 15px;
        }
    }

    .hero{
        &__title{
            font-size: 30px;
            line-height: 45px;
        }

        &__description{
            font-size: 16px;
            line-height: 24px;
        }
    }

}

@media (max-width: 720px){
    .articles{

        &__wrapper{
            grid-template: repeat(13, 170px) / 1fr;
        }
    }
    .main-article{
        grid-column-start: span 1;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .popular{
        grid-column-start: span 1;
        grid-row-start: 3;
        grid-row-end: 5;

    }
    .second-article{
        grid-column-start: span 1;
        grid-row-start: 5;
        grid-row-end: 7;

    }
    .check-list{
        grid-column-start: span 1;
        grid-row-start: 7;
        grid-row-end: 8;
    }
    
    .tags{
        grid-column-start: span 1;
        grid-row-start: 13;
        grid-row-end: 15;

    }

    .article-weeks{
        &__bg{
            height: 500%;
        }
        &__link{
            margin: 70px 0 0;
        }
    } 

    .news{
        &__item{
            flex-wrap: wrap;
            justify-content: center;
        }

        &__img{
            width: 100%;
            height: 200px;
            margin-right: 0;
            margin-bottom: 20px;
        }

        &__footer{
            position: static;
            margin-top: 10px;
        }

        &__bookmark{
            top: 250px;
            right: 0px;
        }
    }
    .hot-slider__title{
        font-size: 28px;
        line-height: 38px;
    }
    .hot-main__img{
        opacity: .4;
    }

    .hot-slider{
        height: 500px;
    }

    .newsletter{
        &__title{
        font-size: 25px;
        }
        &__form{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__input{
            margin-right: 0;
            margin-bottom: 20px;
        }
    }

    .footer{
        &__nav{
            padding: 20px 0;
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: center;
        }

        &__social{
            display: flex;
            justify-content: center;
        }

        &__nav-link{
            margin: 5px 0 5px 0;
            &:last-child{
                margin: 0;
            }
        }
    }

    .hero{
        &__bookmark{
            left: auto;
            top: auto;
            right: 0;
            bottom: 58px;
        }

        &__navigation{
            left: 0;
            right: auto;
            top: 40px;
        }

        &__categories {
            left: 0;
            top: 85px;
        }

        &__wrapper{
            padding-left: 0;
            padding-top: 105px;
        }
        &__title{
            font-size: 25px;
            line-height: 35px;
        }

        &__description{
            font-size: 14px;
            line-height: 21px;
        }
    }

   .article{
       &__content{
            padding-left: 0;
       }

       &__card{
           width: 100%;
       }
    }

    .article-slider{
        &__img{
            height: 380px;
        }

        &__prev{
            width: 35px;
            height: 35px;
        }
        &__next{
            width: 35px;
            height: 35px;    
        }

        &__text{
            font-size: 12px;
        }
        &__description{
            padding: 6px 20px 12px;
        }
        &__author{
            flex-basis: 225px;
        } 
        &__avatar{
            margin-left: 20px;
        }
       
    }

    .aside-article{
        padding-left: 0;
        margin-top: 30px;
        
    }
    .article__tags {
        width: 100%;
        padding: 35px 0;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    .article__tag-link{
        display: flex;
        margin-bottom: 15px;
        padding: 0 14px;
    }
    .support__links{
        display: flex;
        flex-wrap: wrap;
    }
    .support__link--facebook, .support__link--tweeter, .support__link--like{
        
        display: flex;
        margin-bottom: 15px;
        // padding: 0 20px 0 24px;
    }

    .article__text {
        margin: 20px 0 0;
        font-size: 14px;
        line-height: 22px;
    }
    .quote__text {
        font-size: 18px;
        line-height: 26px;
    }

    .quote {
        margin-top: 50px;
        margin-bottom: 35px;

        &:before {
            width: 40px;
            height: 40px;
            left: 0px;
        }
    }

    .any-articles{
        &__wrapper{
            justify-content: center;
            padding: 60px 0 0px;
        }

        &__item{
            flex-basis: 100%;
        }
    }

    .comments{
        &__title{
            font-size: 30px;
            line-height: 35px;
        }
        &__count{
            font-size: 30px;
            line-height: 35px;
        }
        &__avatar{
            width: 45px;
            height: 45px;
        }
        &__name{
            font-size: 14px;
            line-height: 18px;
        }
        &__text{
            font-size: 14px;
            line-height: 18px;
        }
        &__wrapper{
            padding-left: 0;
        }
        &__sub {
            li{
                padding-left: 0;
            }
        }
        &__show-all{
            padding: 10px;
        }

        
    }


    .think-about{
        &__img{
            width: 45px;
            height: 45px;
        }
    }
    
}


@media (max-width: 680px){
    .main{
        height: 490px;
        &__wrapper{
            flex-direction: column;
        }
    }
    .recommendation{

        flex-shrink: 1;
        flex-basis: auto;
        order: -1;

        &__title{
            &:after{
                content: '';
                width: 15px;
                height: 15px;
                background: url(../img/little-news/Arrow.svg) no-repeat center;
                position: absolute;
                right: 25px;
                top: 24px;
               
            }
        }

        &__list{
            transition: 1s;
            position: absolute;
            z-index: 10;
            width: 100%;
            top: 59px;
            overflow: hidden;
            height: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

            
        &__item{
            padding: 17px 15px 11px;
            height: 20%;

            &:last-child{
                padding-bottom: 11px;
            }
        }
    }

    .recommendation__list--open{
        height: 87%;
        background: #fff;
    }

    .topic-article{
        padding: 38px 20px 45px 36px;
        &__info {
            margin-top: 50px;
        }
    }

    .article-weeks{
        &__title{
            font-size: 20px;
            line-height: 25px;
        }
        &__link{
            margin: 75px 0 0;
        }
    }
    .little-news {
        margin-top: 90px;
    }
    .hot-slider__title{
        margin-bottom: 55px;
    }

}

@media (max-width: 576px){
    .little-news{
       

        &__link{
            font-size: 12px;

            
           
        }
    }
    .hot-slider__title{
        margin-bottom: 40px;
        font-size: 22px;
        line-height: 30px;
        width: 80%;
    }

    .hot-any{
        flex-basis: 100%;
        margin-bottom: 30px;

        &:last-child{
            margin-bottom: 0;
        }
    }

    .categories{
        &__item{
            flex-basis: 50%;
        }
    }

    .newsletter__title {
        font-size: 20px;
        line-height: 30px;
    }

    .newsletter{
        &__form{
            width: 100%;
        }
        &__input{
        width: 100%;
        }
    }

    .footer{
        padding-top: 45px;
    }

    .article-slider{
        &__img{
            height: 350px;
        }

        &__prev{
            width: 30px;
            height: 30px;
        }
        &__next{
            width: 30px;
            height: 30px;    
        }
        &__bottom{
            flex-wrap: wrap;
        }
       
        &__description{
            flex-basis: 100%;
        }
        &__author{
            border-left: none;
            border-top: 1px solid #D9DADB;
            flex-basis: 100%;
        } 
    }
    .think-about__content{
        flex-direction: column;
        align-items: center;
    }

    .think-about__title{
        margin: 0;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }

    .think-about__img{
        margin: 20px 0;
    }

    .think-about__form:before{
        transform: rotate(135deg);
        top: -6px;
        left: 48%;
    }
    .think-about{
        padding: 30px 20px;
    }



}

@media (max-width: 480px){
    .main{
        &__wrapper{
            height: 450px;
        }
    }
    .topic-article{
        height: 100%;
        &__title {
            font-size: 20px;
            line-height: 26px;
            
        }

        &__info {
            margin-top: 95px;
        }
    }
    .recommendation{
        &__title{
            margin-top: 12px;
            margin-bottom: 12px;
            &:after{
                top: 16px;
            }
        }
        &__list{
            top: 42px;
        }
    }

    .main-article{

        &__title{
            font-size: 20px;
            line-height: 24px;
        }
    }
    .tags__link{
        margin-bottom: 10px;
    }

    .recommendation{
       

        &__item{
            padding: 10px 15px 7px;
        }
    }

    .recommendation__list--open{
        height: 91%;
    }
    .hot-slider__title{
        margin-bottom: 38px;
        font-size: 18px;
        line-height: 25px;
    }
    .hot-slider {
        height: 460px;
    }

    .hot-main{
        overflow: hidden;
    }
    
    .categories{
        margin-bottom: 10px;
        &__item{
            flex-basis: 100%;
        }
        &__title {
            margin: 20px 0 15px;
        }
    }
    .footer__rights{
        font-size: 10px;
        padding: 18px 0;
    }
    .footer__label {
        margin-top: 10px;
    }

    .thankyou{
        &__title{
            font-size: 20px;
            line-height: 24px;
            margin: 0 0 0 0;
        } 
    }

    .article-weeks{
        &__link{
            margin: 60px 0 0;
        }
    } 

    .hero{
        &__navigation{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__nav-link--home{
            width: 100%;
            margin-bottom: 20px;
        }

        &__categories{
            left: auto;
            right: 0;
            top: 45px;
        }
    }

    .article{
        &__text{
            font-size: 16px;
            line-height: 25px;
            margin: 20px 0 0;
            text-align: justify;

            &--first-char:first-letter {
                font-size: 100px;
                line-height: 57px;
            }

            br{
                display: none;
            }
        }

        &__subtitle{
            margin: 35px 0 0 0;
        }
    }

    .article-slider{
        &__img{
            height: 300px;
        }

        &__prev{
            display: none;
        }
        &__next{
            display: none;   
        }
    }

    .aside-article__img{
        width: 100%;
    }

    .aside-article__subtitle{
        width: 100%;

        br{
            display: none;
        }
    }
    .aside-article__description{
        max-width: 100%;
    }

    

    

}

@media (max-width: 320px){
    .topic-article{
        &__title {
            font-size: 18px;
        }
    }

    .article-weeks{
        &__title{
            font-size: 18px;
        }
    }

    .news__title {
        font-size: 14px;
        line-height: 20px;
    }

    .hero{
        &__title{
            font-size: 20px;
            line-height: 28px;
        }
    }

    .comments__text{
        font-size: 12px;
        line-height: 14px;
    }

    .article__text{
        font-size: 14px;
        line-height: 21px;
    }

    
}