*{
    box-sizing: border-box;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}

body{
    background: #E5E5E5;
}

@media (min-width: 992px){
    .header__nav-link:hover{
        color: #c5c3c3;
       
   }
   .topic-article__link:hover{
        background: #1a57ac;
   }
   .hot-main__link:hover{
    background: #1a57ac;

   }
   .article-weeks__link:hover{
        background: #1a57ac;

   }
   .hot-slider__link:hover {
        background: #1a57ac;
    }

    .newsletter__btn:hover{
        background: #1a57ac;

    }
    .thankyou__link:hover{
        background: #1a57ac;
    }
  

   .little-news__link:hover{
    color: #c5c3c3;

   }

   

   .tags__link:hover{
    color: #fff;
    background: #262D33;
   }

   .main-article__title:hover{
        color: #6d7072;
   }

   .any-article__title:hover{
    color: #6d7072;

   }

   .second-article__title:hover{
    color: #6d7072;

   }

   .hot-any__title:hover{
    color: #6d7072;

   }
   .footer__nav-link:hover{
    color: #6d7072;

   }

   .popular__title:hover{
    color: #c5c3c3;
   }

   .categories__list-item:hover{
       color: #000;
       font-weight: 600;
   }

   .news__title:hover{
    color: #6d7072;
   }

   .fresh-news__caption:hover{
    color: #000;
    font-weight: 600;
   }

   .social__link{
        &--facebook{
            &:hover{
                background: white;
                border: 1px solid #4267B2;
            }
            &:hover .svg-link {
                fill: #4267B2;
            }
        }

        &--twitter{
            &:hover{
                background: white;
                border: 1px solid #1DA1F2;
            }
            &:hover .svg-link {
                fill: #1DA1F2;
            }
        }

        &--youtube{
            &:hover{
                background: white;
                border: 1px solid #FF0000;
            }
            &:hover .svg-link {
                fill: #FF0000;
            }
        }

        &--instagram{
            &:hover{
                background: white;
                border: 1px solid #262626;
            }
            &:hover .svg-link {
                fill: #262626;
            }
        }
   }

   .header__nav-link--article:hover{
       color: #262626;
   }
}


