*{
    box-sizing: border-box;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}

body{
    background: #E5E5E5;
}

.body-article{
    background: #ffffff;
}

@media (min-width: 992px){
    .header__nav-link:hover{
        color: #c5c3c3;
       
   }
   .topic-article__link:hover{
        background: #1a57ac;
   }
   .hot-main__link:hover{
    background: #1a57ac;

   }
   .article-weeks__link:hover{
        background: #1a57ac;

   }
   .hot-slider__link:hover {
        background: #1a57ac;
    }

    .newsletter__btn:hover{
        background: #1a57ac;

    }
    .thankyou__link:hover{
        background: #1a57ac;
    }
    
    .any-articles__image:hover{
        opacity: .7;
    }

    .any-articles__comments:hover{
        color: #262D33;
        font-weight: bold;
    }
    .any-articles__title:hover{
        color: #6d7072;

    }

    .main-article:hover{
        opacity: .7;
    }

    .popular:hover{
        opacity: .7;

    }

    .second-article:hover{
        opacity: .7;

    }

    .any-article:hover{
        opacity: .7;

    }

    .hot-any:hover{
        opacity: .7;

    }

   

   .little-news__link:hover{
    color: #c5c3c3;

   }

   .comments__show-all:hover{
    background: #262D33;
    color: #fff;

   }

   .tags__link:hover{
    color: #fff;
    background: #262D33;
    border: 1px solid #262D33;

   }

   .article__tag-link:hover{
    color: #fff;
    background: #262D33;
    border: 1px solid #262D33;
   }

   .main-article__title:hover{
        color: #6d7072;
   }

   .any-article__title:hover{
    color: #6d7072;

   }
   .aside-article__subtitle:hover{
    color: #6d7072;

   }

   .second-article__title:hover{
    color: #6d7072;

   }

   .hot-any__title:hover{
    color: #6d7072;

   }
   .footer__nav-link:hover{
    color: #6d7072;

   }

   .popular__title:hover{
    color: #c5c3c3;
   }

   .categories__list-item:hover{
       color: #000;
       font-weight: 600;
   }

   .news__title:hover{
    color: #6d7072;
   }
   .hero__nav-link:hover{
    color: #6d7072;

   }

   .go-top:hover{
    background: #262D33;
    color: #fff;
    opacity: 1;
   }

   .fresh-news__caption:hover{
    color: #000;
    font-weight: 600;
   }

   .article__page:hover{
       background: #262D33;
       color: #fff;
   }

   .support__link:hover{
    background: #1a57ac;
   }

   .think-about__btn:hover{
    background: #1a57ac;

   }
   .social__link{
        &--facebook{
            &:hover{
                background: white;
                border: 1px solid #4267B2;
            }
            &:hover .svg-link {
                fill: #4267B2;
            }
        }

        &--twitter{
            &:hover{
                background: white;
                border: 1px solid #1DA1F2;
            }
            &:hover .svg-link {
                fill: #1DA1F2;
            }
        }

        &--youtube{
            &:hover{
                background: white;
                border: 1px solid #FF0000;
            }
            &:hover .svg-link {
                fill: #FF0000;
            }
        }

        &--instagram{
            &:hover{
                background: white;
                border: 1px solid #262626;
            }
            &:hover .svg-link {
                fill: #262626;
            }
        }
   }

   .header__nav-link--article:hover{
       color: #262626;
   }
}


.go-top{
    position: fixed;
    bottom: 20px;
    left: 20px;

    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    color: #262D33;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #262D33;
    border-radius: 5px;
    transition: .3s;
    background: #fff;
    opacity: .4;
}