.hero {
    // background: url(../img/hero/hero-bg.jpg) no-repeat center;
    // background-size: cover;
    position: relative;
    margin-top: 70px;
    overflow: hidden;

    &__bg{
        position: absolute;
        width: 100%;
        height: 100%;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(0deg, rgba(38, 45, 51, 0.75), rgba(38, 45, 51, 0.75));
    }


    // .hero__wrapper

    &__wrapper {
        padding-top: 95px;
        padding-left: 97px;
        padding-bottom: 71px;
        position: relative;
        z-index: 10;
    }

    // .hero__categories

    &__categories {
        position: absolute;
        top: 66px;
        z-index: 20;
        color: #fff;
        left: 99px;
        font-family: Lato;
        font-style: normal;
        font-weight: 900;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #4592FF;
    }

    // .hero__navigation

    &__navigation {
        position: absolute;
        top: 62px;
        right: 89px;
        font-family: Lato;
        font-style: normal;
        font-weight: 900;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;

    }

    &__bookmark{
        position: absolute;
        left: 5px;
        top: 153px;
    }

    // .hero__nav-link

    &__nav-link {
        text-decoration: none;
        transition: 0.3s;
        color: inherit;
        &--home{
            margin-right: 29px;
            &:before{
                content: '';
                width: 18px;
                height: 16px;
                display: inline-block;
                vertical-align: middle;
                background: url(../img/hero/Home.svg) no-repeat center;
                margin-right: 6px;
            }
        }

        &--prev{
            margin-right: 17px;

            &:before{
                content: '';
                width: 18px;
                height: 16px;
                display: inline-block;
                vertical-align: middle;
                background: url(../img/hero/Arrow.svg) no-repeat center;
                margin-right: 6px;
            }

        }
        &--next{
            margin-right: 7px;

            &:after{
                content: '';
                margin-left: 8px;
                width: 18px;
                height: 16px;
                display: inline-block;
                vertical-align: middle;
                background: url(../img/hero/Next.svg) no-repeat center;
            }

        }

    }

    // .hero__title

    &__title {
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: bold;
        font-size: 55px;
        line-height: 70px;
        color: #FFFFFF;
        max-width: 750px;
        text-align: left;
        margin-bottom: 32px;

    }

    // .hero__description

    &__description {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.85;
        max-width: 632px;
        margin-bottom: 42px;
    }

    // .hero__bottom

    &__bottom {
        display: flex;
        align-items: center;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
        opacity: 0.85;
    }

    // .hero__date

    &__date {
        margin-right: 22px;

        &:before{
            content: '';
            width: 13px;
            height: 13px;
            display: inline-block;
            vertical-align: middle;
            background: url(../img/hero/Clock.svg) no-repeat center;
            margin-right: 6px;
        }
    }

    // .hero__likes

    &__likes {
        margin-right: 20px;
        text-decoration: none;
        color: inherit;
        &:before{
            content: '';
            width: 13px;
            height: 13px;
            display: inline-block;
            vertical-align: middle;
            background: url(../img/hero/Heart.svg) no-repeat center;
            margin-right: 6px;
        }
    }

    // .hero__comments

    &__comments {
        text-decoration: none;
        color: inherit;
        &:before{
            content: '';
            width: 13px;
            height: 13px;
            display: inline-block;
            vertical-align: middle;
            background: url(../img/hero/Comment.svg) no-repeat center;
            margin-right: 6px;
        }
    }


    
}

